In [1]:
# Import pandas
import pandas as pd
import os
import sys
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '../src')))
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '../scripts')))

In [2]:
# Load your Excel file
transactions_df = pd.read_excel('../data/data.xlsx',  sheet_name='data')

In [3]:
from feature_engineering.feature_engineering import AggregateFeatures

agg_features = AggregateFeatures(data=transactions_df, customer_id_col='CustomerId', transaction_amount_col='Amount')
agg_data = agg_features.compute_aggregate_features()
agg_data.head()

,CustomerId,total_transaction_amount,average_transaction_amount,transaction_count,std_dev_transaction_amount
0,CustomerId_1,-10000.0,-10000.000000,1,0.000000
1,CustomerId_10,-10000.0,-10000.000000,1,0.000000
2,CustomerId_1001,20000.0,4000.000000,5,6558.963333
3,CustomerId_1002,4225.0,384.090909,11,560.498966
4,CustomerId_1003,20000.0,3333.333333,6,6030.478146

In [4]:
from feature_engineering.feature_engineering import TimeFeatureExtractor


time_features = TimeFeatureExtractor(data=transactions_df, datetime_col='TransactionStartTime')
time_data = time_features.extract_time_features()

time_data.head()

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductId,ProductCategory,...,Value,TransactionStartTime,PricingStrategy,FraudResult,Unnamed: 16,Unnamed: 17,transaction_hour,transaction_day,transaction_month,transaction_year
0,TransactionId_76871,BatchId_36123,AccountId_3957,SubscriptionId_887,CustomerId_4406,UGX,256.0,ProviderId_6,ProductId_10,airtime,...,1000.0,2018-11-15T02:18:49Z,2.0,0,January542024,NaN,2.0,15.0,11.0,2018.0
1,TransactionId_73770,BatchId_15642,AccountId_4841,SubscriptionId_3829,CustomerId_4406,UGX,NaN,ProviderId_4,ProductId_6,financial_services,...,20.0,2018-11-15T02:19:08Z,2.0,0,February33932024,202455March,2.0,15.0,11.0,2018.0
2,TransactionId_26203,BatchId_53941,AccountId_4229,SubscriptionId_222,CustomerId_4683,UGX,256.0,NaN,ProductId_1,airtime,...,500.0,2018-11-15T02:44:21Z,2.0,0,March552026,202554March,2.0,15.0,11.0,2018.0
3,TransactionId_380,BatchId_102363,AccountId_648,SubscriptionId_2185,CustomerId_988,UGX,256.0,ProviderId_1,ProductId_21,utility_bill,...,NaN,2018-11-15T03:32:55Z,2.0,0,April542027,202454March,3.0,15.0,11.0,2018.0
4,TransactionId_28195,BatchId_38780,AccountId_4841,SubscriptionId_3829,CustomerId_988,UGX,NaN,ProviderId_4,ProductId_6,financial_services,...,644.0,2018-11-15T03:34:21Z,2.0,0,May542028,202554March,3.0,15.0,11.0,2018.0

In [5]:
from feature_engineering.feature_engineering import CategoricalEncoder


encoder = CategoricalEncoder(data=transactions_df)
# Perform one-hot encoding for relevant columns
one_hot_encoded_data = encoder.one_hot_encode(['CurrencyCode', 'CountryCode', 'ProviderId', 'ProductId', 'ProductCategory', 'ChannelId', 'PricingStrategy'])

# Perform label encoding for binary FraudResult
label_encoded_data = encoder.label_encode(['FraudResult'])
print("one hot encoded data")
print(one_hot_encoded_data.head())

print("label encoded data")

label_encoded_data.head()

one hot encoded data
         TransactionId         BatchId       AccountId       SubscriptionId  \
0  TransactionId_76871   BatchId_36123  AccountId_3957   SubscriptionId_887
1  TransactionId_73770   BatchId_15642  AccountId_4841  SubscriptionId_3829
2  TransactionId_26203   BatchId_53941  AccountId_4229   SubscriptionId_222
3    TransactionId_380  BatchId_102363   AccountId_648  SubscriptionId_2185
4  TransactionId_28195   BatchId_38780  AccountId_4841  SubscriptionId_3829

        CustomerId   Amount   Value  TransactionStartTime  FraudResult  \
0  CustomerId_4406   1000.0  1000.0  2018-11-15T02:18:49Z            0
1  CustomerId_4406   3679.0    20.0  2018-11-15T02:19:08Z            0
2  CustomerId_4683    500.0   500.0  2018-11-15T02:44:21Z            0
3   CustomerId_988  20000.0     NaN  2018-11-15T03:32:55Z            0
4   CustomerId_988   -644.0   644.0  2018-11-15T03:34:21Z            0

        Unnamed: 16  ... ProductCategory_utility_bill  ChannelId_ChannelId_1  \
0     January542024  ...                          0.0                    0.0
1  February33932024  ...                          0.0                    0.0
2       March552026  ...                          0.0                    0.0
3       April542027  ...                          1.0                    0.0
4         May542028  ...                          0.0                    0.0

   ChannelId_ChannelId_2  ChannelId_ChannelId_3  ChannelId_ChannelId_5  \
0                    0.0                    1.0                    0.0
1                    1.0                    0.0                    0.0
2                    0.0                    1.0                    0.0
3                    0.0                    1.0                    0.0
4                    1.0                    0.0                    0.0

   PricingStrategy_0.0  PricingStrategy_1.0  PricingStrategy_2.0  \
0                  0.0                  0.0                  1.0
1                  0.0                  0.0                  1.0
2                  0.0                  0.0                  1.0
3                  0.0                  0.0                  1.0
4                  0.0                  0.0                  1.0

   PricingStrategy_4.0  PricingStrategy_nan
0                  0.0                  0.0
1                  0.0                  0.0
2                  0.0                  0.0
3                  0.0                  0.0
4                  0.0                  0.0

[5 rows x 66 columns]
label encoded data

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductId,ProductCategory,...,Value,TransactionStartTime,PricingStrategy,FraudResult,Unnamed: 16,Unnamed: 17,transaction_hour,transaction_day,transaction_month,transaction_year
0,TransactionId_76871,BatchId_36123,AccountId_3957,SubscriptionId_887,CustomerId_4406,UGX,256.0,ProviderId_6,ProductId_10,airtime,...,1000.0,2018-11-15T02:18:49Z,2.0,0,January542024,NaN,2.0,15.0,11.0,2018.0
1,TransactionId_73770,BatchId_15642,AccountId_4841,SubscriptionId_3829,CustomerId_4406,UGX,NaN,ProviderId_4,ProductId_6,financial_services,...,20.0,2018-11-15T02:19:08Z,2.0,0,February33932024,202455March,2.0,15.0,11.0,2018.0
2,TransactionId_26203,BatchId_53941,AccountId_4229,SubscriptionId_222,CustomerId_4683,UGX,256.0,NaN,ProductId_1,airtime,...,500.0,2018-11-15T02:44:21Z,2.0,0,March552026,202554March,2.0,15.0,11.0,2018.0
3,TransactionId_380,BatchId_102363,AccountId_648,SubscriptionId_2185,CustomerId_988,UGX,256.0,ProviderId_1,ProductId_21,utility_bill,...,NaN,2018-11-15T03:32:55Z,2.0,0,April542027,202454March,3.0,15.0,11.0,2018.0
4,TransactionId_28195,BatchId_38780,AccountId_4841,SubscriptionId_3829,CustomerId_988,UGX,NaN,ProviderId_4,ProductId_6,financial_services,...,644.0,2018-11-15T03:34:21Z,2.0,0,May542028,202554March,3.0,15.0,11.0,2018.0

In [7]:
# Numerical and categorical columns
from feature_engineering.feature_engineering import MissingValueHandler


numerical_columns = ['Amount', 'Value']
categorical_columns = ['CurrencyCode', 'CountryCode', 'ProviderId', 'ProductId', 'ProductCategory', 'ChannelId', 'PricingStrategy', 'FraudResult']

# Instantiate handler and impute missing values
handler = MissingValueHandler(data=transactions_df)

# Impute missing values (using mean for numerical and most frequent for categorical)
data_imputed = handler.impute_missing_values(numerical_columns=numerical_columns, categorical_columns=categorical_columns)

# Optionally remove columns with more than 5% missing values
data_cleaned = handler.remove_missing_values(threshold=0.05)

# Save the cleaned data to CSV
handler.save_cleaned_data("../data/cleaned_data.csv")

Removing columns with more than 5.0% missing values: ['Unnamed: 16', 'Unnamed: 17']
Cleaned data saved to ../data/cleaned_data.csv

In [8]:
from feature_engineering.feature_engineering import Scaler


scaler = Scaler(data=transactions_df)
normalized_data = scaler.normalize(columns=['Amount'])
standardized_data = scaler.standardize(columns=['Amount'])

In [9]:
# Instantiate the WOEIVFeatureEngineering class
from feature_engineering.feature_engineering import WOEIVFeatureEngineering


woe_iv_calculator = WOEIVFeatureEngineering(data=transactions_df, target_col='FraudResult')

# Specify the features for which you want to calculate WoE and IV
features = ['CountryCode', 'ProviderId', 'ProductCategory', 'ChannelId']

# Call the method and get WoE and IV
woe_iv_result = woe_iv_calculator.calculate_woe_iv(feature_cols=features)

# Output the results
print(woe_iv_result)

           Feature        WoE        IV
0      CountryCode   0.000000  0.000000
1       ProviderId  -1.756718  3.327453
2  ProductCategory -10.650265  1.065674
3        ChannelId  -5.625321  1.224064

d:\tutorial\10x\tasks\task_6\predictive-credit-insights\src\feature_engineering\feature_engineering.py:196: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  grouped.replace({'event_rate': {0: 0.0001}, 'non_event_rate': {0: 0.0001}}, inplace=True)
d:\tutorial\10x\tasks\task_6\predictive-credit-insights\src\feature_engineering\feature_engineering.py:196: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  grouped.replace({'event_rate': {0: 0.0001}, 'non_event_rate': {0: 0.0001}}, inplace=True)
d:\tutorial\10x\tasks\task_6\predictive-credit-insights\src\feature_engineering\feature_engineering.py:196: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  grouped.replace({'event_rate': {0: 0.0001}, 'non_event_rate': {0: 0.0001}}, inplace=True)
d:\tutorial\10x\tasks\task_6\predictive-credit-insights\src\feature_engineering\feature_engineering.py:196: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  grouped.replace({'event_rate': {0: 0.0001}, 'non_event_rate': {0: 0.0001}}, inplace=True)